.header{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url("./brunch.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
    position: relative;
}

.header--dinner{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url("./dinner.jpg");
}

.header__center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 1px;
}

.intro{
    padding: 5rem 0;
}


.menu__hr{
    margin: 3rem 0;
}

.menu__p{
    font-size: 14px;
    line-height: 1.75;
    color: #212529;
    font-weight: bold;
}





.menu__list-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 3px dashed var(--color-primary);
    border-bottom: 3px solid #212529;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 900;
    color: #212529;
}

.menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item{
    position: relative;
    margin-bottom: 1.25rem;
}

.item__title{
    background-color: #fff;
    position: relative;
    z-index: 100;
    font-size: 18px;
    display: inline-block;
    padding-top: 2px;
    padding-right: 5px;
    font-weight: 800;
    color: #212529;
}

.item__dots{
    position: absolute;
    top: 17px;
    left: 15px;
    right: 60px;
    z-index: 1;
    margin: 0;
    border: 0;
    height: 3px;
    display: block;
    background-image: radial-gradient(circle closest-side, currentColor 99%, transparent 1%);
    background: radial-gradient(circle closest-side,#ccc 90%,#fff 10%);
    background-position: bottom;
    background-size: 6px 3px;
    background-repeat: repeat-x;
}

.item__price{
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 1;
    max-width: 96px;
    background-color: white;
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.27316;
    font-weight: bold;
    color: rgb(33, 37, 41);
}

.item__desc{
    font-size: 14px;
}

@media only screen and (max-width: 768px){
    .header__h1{
        font-size: 4rem;
    }
    .header__center{
        width: 400px;
    }
}